* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100%;
    background: url('image/H0DYMOhxexY-unsplash.jpg')no-repeat 0% 0%/100%;
    
}

.menu {
    background: #ff9900;
}

.menu > ul > li {
    list-style-type: none;
    float: left;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 15px;
    display: block;
    position: relative;
    transition: 0.5s;
}

.menu ul li a::after {
    content: '';
    background: #fff;
    clear: both;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
}

.menu > ul > li > ul > li > a::after {
    content: '';
    background: #fff;
    clear: both;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
}


.menu::after {
    content: '';
    display: block;
    clear: both;
}

.menu ul li a:hover {
    background: #024802;
    color: #fff;
}

.menu ul li:hover a::after {
    width: 100%;
}


.menu > ul > li > ul > li:hover a::after {
    width: 100%;
}


.menu > ul > li ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: #ff9900;
}

.menu > ul>li>ul>li a{
    display: block;
}


.menu > ul > li:hover ul {
    display: block;
}
