* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #7fc605c6;
}

.container {
    width: 99.50%;
}

.container .car-area {
    width: 99.50%;
    display: flex;
    margin-top: 100px;
    /* flex-wrap: wrap; */
    flex-flow: wrap;
    justify-content: space-between;
    
}

.container .car-area .w-33{
    text-align: center;
    background: #fff;
    color: #2c3e50;
    margin: 10px;
    flex-basis: 30%;
    height: 150px;
    position: relative;
    transition: 0.3s ease-in-out;
    
}

.container .car-area .w-33 .card .content {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    position: absolute;
}

.container .car-area .w-33:hover {
    /* margin-top: -20px; */
    height: 400px;
}

.container .car-area .w-33:hover .card .content {
    visibility: visible;
    opacity: 1; 
    transition: 0.6s;
    transition-delay: 0.2s;
}

.container .car-area .w-33 .card .img img {
    width: 60%;
    margin-top: -80px;
    transition: 0.3s;
}

.container .car-area .w-33:hover .card .img img {
    margin-top: -50px;
}

.container .car-area .w-33 .card .content h2 {
    padding: 5px;
    font-size: 2.5rem;
}

.container .car-area .w-33 .card .content p {
    padding: 10px;
}
.container .car-area .w-33 .card .content a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background: #2c3e50;
    font-size: 1.50rem;
    text-decoration: none;
    transition: 0.3s;
}

.container .car-area .w-33 .card .content a:hover {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background: #04284c;
    text-decoration: underline;
    border-radius: 10px;
}

