* {
    margin: 0;
    padding: 0;
}

.cal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.calculator {
    background-image: linear-gradient(#010246, #2b0549);
    padding: 35px 25px;
    
}

.calculator button {
    font-size: 20px;
    transition: 0.1s;
    border-radius: 50px;
    outline: none;
    border: none;
    
}

.calculator button:hover {
    background-image: linear-gradient(#0205c79c, #5b00a1a9);

    box-shadow: 0px 5px 10px 5px grey;
    border: 2px solid #738000;
}

.btn-area {
    display: grid;
    grid-template-columns: 40px 40px 40px 50px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    gap: 35px;
}

input {
    width: 100%;
    padding: 32px 0px;
    font-size: 20px;
    margin-bottom: 5px;
}

.btn {
  background-image: linear-gradient(#7380008c, #ff000046);
    
}

#btn {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}