* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.todo-app {
    width: 50%;
    margin: auto;
    height: 60vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffc23f7e;
    padding: 10px;
    border-radius: 10px;
}

.todo-app .heading {
    font-size: 32px;
}

.alertSms {
    visibility: hidden;
    margin-top: 10px;
}

.alertSms.show {
    visibility: visible;
    color: red;
}

.input-area {
    width: 80%;
    text-align: center;
    padding: 10px;
}

.input-area #input {
    width: 50%;
    padding: 8px;
    font-size: 22px;
    border: none;
    outline: none;
    transition: 0.3s;
    border: 2px solid #ffc23f81;
    border-radius: 5px;
}

.input-area #input:hover {
    border: 2px solid red;
    outline: none;
    border-radius: 10px;
}

.input-area #addBtn {
    padding: 8px;
    font-size: 20px;
    border: 2px solid red;
    background: red;
    border-radius: 5px;
    transition: 0.3s;
}

.input-area #addBtn:hover {
    background: #9e0000;
    border: 2px solid #9e0000;
    color: #fff;
    border-radius: 10px;
}


.todo-app .list-area  {
    width: 50%;
}

.todo-app .list-area #order-List li {
    font-size: 22px;
    border-bottom: 1px solid red;
    margin-top: 10px;
    padding: 5px;
}

.todo-app .list-area #order-List li:hover {
    background: #ff0000cb;
    color: #fff;
}