* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #00bba2;
}

input {
    background: #cddaeb;
    color: #000;
}

body {
    background: #0b1c38;
}

form {
    width: 40%;
    margin: 20px auto;
    text-align: center;
    background-image: linear-gradient( to left ,#32992431 , #1b4f538c);
    padding: 20px 20px;
}

form .formControl input {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    box-shadow: 0px 0px 10px 2px #1f0050;
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    border: 1px solid #1f0050;
}

form .formControl.error input {
    box-shadow: 0px 0px 10px 2px #ff0000;
    border: 1px solid #ff0000;
}

form .formControl.success input {
    box-shadow: 0px 0px 10px 2px #006611;
    border: 1px solid #006611;
}

form .formControl input:hover {
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px #0d0022;
    transform: scalex(1.05);
}

form .formControl label {
    display: block;
    text-align: left;
    margin: 5px 0px;
}

form .formControl small {
    display: block;
    text-align: left;
    margin-top: 5px;
    visibility: hidden;
}

form .formControl.error small {
    visibility: visible;
    color: red;
}

.genderArea .genderValue {
    visibility: hidden;
}

.genderArea .genderValue.show {
    visibility: visible;
    color: red;
}

.checkBoxArea .colorHeading {
    margin-top: 10px;
    
}

.checkBoxArea .checkValue {
    padding: 5px;
    visibility: hidden;
}

.checkBoxArea .checkValue.show {
    visibility: visible;
    color: red;
}

.optionArea select {
    padding: 5px;
    margin-top: 5px;
}

.makeOption select{
    width: 100%;
}

.makeOption .Write {
    margin: 5px 0px;
}

.makeOption select {
    margin-top: 10px;
    box-shadow: 0px 0px 10px 2px #1f0050;
    transition: 0.3s;
    background: #e2eeff;
    padding: 5px;
    outline: none;
    border: 1px solid #1f0050;
    background: #cddaeb;
    
}

.makeOption select option {
    color: #000;
}

.makeOption select:hover {
    box-shadow: 0px 0px 10px 5px #0d0022;
    /* transform: scalex(1.05); */
}

.makeOption input {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    box-shadow: 0px 0px 10px 2px #1f0050;
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    border: 1px solid #1f0050;
    
}

.makeOption input:hover {
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px #0d0022;
    transform: scalex(1.05);
    transform: scalex(1.05);
}

.makeOption button {
    background: #026d9e88;
    width: 100%;
    font-size: 16px;
    transition: 0.3s;
    padding: 2px 0px;
    border-radius: 5px;
}

form > button {
    width: 100%;
    padding: 8px 0px;
    margin-top: 10px;
    font-size: 16px;
    display: block;
    background: #026d9e88;
    transition: 0.3s;
    border-radius: 5px;
}

button:hover {
    transform: scalex(1.05);
    background: #026d9e;

}

::placeholder {
    padding: 10px;
    color: #0018257c;
}